.App{
  width:100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: aqua;
}

.app-wrapper{
display: block;
  width:40vw;
  min-height: 500px; 
  padding: 1rem;
  box-shadow: 2px 5px #ccc;
  background-color: #ccc;
}

.app-wrapper >div{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card{
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: space-around;
}